body {
  margin: 0;
  padding: 0;
  background-image: url('../img/doc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  width: 450px;
  /* height: 90vh; */
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 50px auto 30px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99; */
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  position: relative;
}
.main h1 {
  padding: 30px;
  margin-top: 20px;
}

.main .form-input .fa-user {
  position: absolute;
  top: 27.5%;
  left: 20%;
}
.main .form-input .fa-lock {
  position: absolute;
  top: 42%;
  left: 20%;
}

.main input[type='text'] {
  display: block;
  padding: 7px 80px;
  margin: 4px auto;
  margin-top: 30px;

  border: 1px solid black;
}
.main input[type='password'] {
  display: block;
  padding: 7px 80px;
  margin: 20px auto;

  border: 1px solid black;

  margin-bottom: 3px;
}
.main input::placeholder{
  font-size: 14px;
  color: rgba(0, 17, 255, 0.685);
}
.main #email__label1 {
  margin-left: 53px;
  font-size: 13px;
  visibility: hidden;
}
.main #pass__label1 {
  margin-left: 53px;
  font-size: 13px;
}
.loginErrorMsg #errorMsg{
  text-align: center;
  font-size: 14px;
  color: rgb(255, 0, 0);
}
.forgot__pass a {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-left: 53px;
  border-bottom: 1px solid rgb(18, 168, 161);
  padding-bottom: 2px;
  font-size: 13px;
  font-weight: 600;
}
.main input[type='submit'] {
  display: block;
  margin: auto;
  padding: 7px 20px;
  margin-top: 45px;
}
.loginWith {
  text-align: center;
  /* padding: 24px; */
}
.loginWith a {
  text-decoration: none;
  padding: 5px 91px;
  background-color: #4267b2;
  border: 1px solid transparent;
  color: #fff;
  border-radius: 3px;
}
.main .form-footer {
  text-align: center;
  margin-top: 65px;
  background-color: #212121;
  padding: 16px 0;
}
.main .form-footer a {
  text-decoration: none;
  color: white;
}

/* -----media query--------- */

@media (max-width: 767px) {
  .main {
    width: 400px;
  }
  .main input[type='text'] {
    padding: 5px 40px;
  }
  .main .form-input .fas {
    top: 32%;
    left: 21%;
    font-size: 11px;
  }
  .main input[type='password'] {
    padding: 5px 40px;
  }
  .main .form-input .fa-lock {
    top: 48%;
    left: 21%;
    font-size: 11px;
  }
  .loginWith button {
    padding: 5px 53px;
  }
  .forgot__pass a {
    margin-left: 70px;
  }
}
