body{
    padding: 0;
    margin: 0;
    background-color: #F0F0F0;
}
.users{

}
.users .userImg{

}
.userImg img{

}
.userImg h4{

}
.userImg p{

}


.users .userProfile{

}
.userProfile .userProfileInfo{

}
.userProfileInfo .userFullName{

}
.userProfileInfo .userName{

}
.userProfileInfo .userEmail{

}
.userProfileInfo .userPhone{

}
